<!DOCTYPE html>
<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">
  <link href="http://gmpg.org/xfn/11" rel="profile">

  <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }} {% endif %}</title>

  <!--Bootstrap-->
  <link href="https://{{ site.github_user }}.github.io/{{ site.github_repo }}/css/bootstrap.css" rel="stylesheet">
  <link rel="stylesheet" href="https://{{ site.github_user }}.github.io/{{ site.github_repo }}/css/base.css">

  <!-- Icons -->
  <link rel="shortcut icon" type="image/x-icon" href="https://{{ site.github_user }}.github.io/{{ site.github_repo }}/favicon.ico">
	<link rel="icon" type="image/x-icon" href="https://{{ site.github_user }}.github.io/{{ site.github_repo }}/favicon.ico">

  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400italic,400,600,700|Abril+Fatface">

  <!-- JQuery -->
  <script src="https://{{ site.github_user }}.github.io/{{ site.github_repo }}/js/jquery-latest.min.js" type="text/javascript" charset="utf-8"></script>
  <script src="https://{{ site.github_user }}.github.io/{{ site.github_repo }}/js/utility.js" type="text/javascript" charset="utf-8"></script>
  <script src="https://{{ site.github_user }}.github.io/{{ site.github_repo }}/js/mustache.js" type="text/javascript" charset="utf-8"></script>

  <!-- Github.js - https://github.com/michael/github -->
  <script src="https://{{ site.github_user }}.github.io/{{ site.github_repo }}/js/github.js" type="text/javascript" charset="utf-8"></script>

  <!-- Cookies.js - https://github.com/ScottHamper/Cookies -->
  <script src="https://{{ site.github_user }}.github.io/{{ site.github_repo }}/js/cookies.js"></script>

  <!-- D3.js https://github.com/d3/d3 -->
  <script src="https://{{ site.github_user }}.github.io/{{ site.github_repo }}/js/d3.v3.min.js"></script>

  <!-- js-yaml - https://github.com/nodeca/js-yaml -->
  <script src="https://{{ site.github_user }}.github.io/{{ site.github_repo }}/js/js-yaml.min.js"></script>

  <!-- js-yaml - https://github.com/nodeca/js-yaml -->
  <script src="https://{{ site.github_user }}.github.io/{{ site.github_repo }}/js/tabletop.js" type="text/javascript"></script>

</head>
